/*
* Centers the text in the footer. 
* https://app.asana.com/0/1201388388286192/1202701278208670
*/

#footer-f1 .row{
  justify-content: space-between;
}

#footer-f1 div.row div.footer-column-main {
  flex-grow: 0;
}

#footer-f1 div.row div.footer-columns {
  flex-grow: 0.5;
  padding-right: 0;
  text-align: center;
}

/* Ends footer text code. */