/*
* Centers the image in the footer. 
* https://app.asana.com/0/1201388388286192/1202713757431199
*/

#footer-f1 div.row {
  justify-content: space-between
  }
  
  #footer-f1 div div.footer-column-main {
    flex-grow: 0;
    padding-right: 0;
  }
  
  #footer-f1 div div.footer-columns {
    flex-grow: 0;
    padding-right: 0;
  }
  
  #footer-f1 div div.footer-columns img {
    min-width: 300px;
  }